<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanSOS - Console</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body onload="consoleErr(), consoleAccess()">

    <div class="console-err">
        <h3> >_ Error log</h3>
        <div id="json-err">

        </div>
    </div>

    <div class="console-access">
        <h3> >_ Access log</h3> 
        <div id="json-access">

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>